/* ---- General styling ---- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ---- ## Colors ---- */
  /* ---- ### Primary ---- */
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  /* ### Neutral */
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Gray-2: hsl(273, 0%, 99%);
}

/* ---- General styling for images ---- */
img {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
}

.active {
  padding: 12px;
  border: 2px solid var(--Very-Dark-Violet);
  color: var(--Very-Dark-Violet);
}

body {
  font-family: "DM Serif Display", sans-serif;
  background: var(--Very-Light-Gray);
}

/* ---- Desktop nav bar ---- */
.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px 10%;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu-link {
  text-decoration: none;
  color: var(--Dark-Grayish-Violet);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.hamburger-img {
  display: none;
}

.hamburger-menu {
  display: none;
}

/* ---- Hero Section ---- */
.hero {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 70vh;
  background-color: var(--Dark-Violet);
}

.hero-img {
  background-image: url(images/image-intro-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .menu {
    display: none;
  }

  .dropdown-menu {
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    position: absolute;
    top: 9%;
    right: 0;
    z-index: 1;
    color: var(--Very-Light-Gray);
    background-color: var(--Dark-Violet);
    transition: all 0.2s ease-in-out;
  }

  .hamburger-img {
    width: 40px;
    display: flex;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 30px;
    position: absolute;
    padding: 50px 0 0;
    z-index: 1;
    background-color: var(--Dark-Violet);

    li {
      list-style-type: none;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--Very-Light-Gray);
      font-weight: 400;
      font-size: 20px;
    }
  }

  .bg-nav {
    margin-top: 70px;
    height: 10%;
  }
}

.features {
  display: flex;
}

.about-container {
  display: flex;
  height: 50vh;
}

/* ---- Footer ---- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.socials {
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.about-social-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.about-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}

/* .pattern-bg-footer{
  background-image: url(images/bg-pattern-footer-desktop.svg);
} */

/* @media (max-width: 610px) {
  .nav-bar {
    padding: 30px 30px;
  }

  .logo {
    flex: 1;
  }
  .hamburger-img {
    display: flex;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
} */

/* ---- Desktop Design ----  */

/* ---- Mobile Design ---- */
@media (max-width: 610px) {
  /* ---- Header ---- */

  /* .logo {
    flex: 0.5;
  }

  .hamburger-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  } */

  /* ---- dropdown-menu section ---- */
  /* .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 100;
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }

  .bg-nav {
    margin-top: 70px;
    height: 10%;
  } */

  /* ---- Hero Section ---- */
  /* .hero {
    display: flex;
    flex-direction: column;
    background: var(--Dark-Violet);
  }

  .hero-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 12rem;
  }

  .pattern-left {
    width: 40%;
    height: auto;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 5%;
    margin: -20% 0;
  }

  .main-txt {
    font-size: clamp(2.8rem, 3rem, 3.5rem);
    color: var(--Very-Light-Gray);
  }

  .sub-txt {
    color: var(--Very-Light-Gray);
    line-height: 1.5;
    font-size: 17px;
  }

  .btn {
    padding: 15px 20px;
    color: var(--Very-Light-Gray);
    letter-spacing: 2px;
    background: none;
    border: 2px solid var(--Very-Light-Gray);
    text-transform: uppercase;
    cursor: pointer;
  }

  .bg-about-img {
    height: auto;
  }

  .pattern-right {
    position: absolute;
    width: 30%;
    height: auto;
    margin: 180% 70% auto;
    z-index: 2;
  } */

  /* ---- Feature Section ---- */
  /* .features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    margin: 30% auto;
    padding: 5%;
  }

  .feature-heading-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .feature-content {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-direction: column;
  }

  .feature-img {
    width: 28%;
    height: auto;
  }

  .feature-title {
    font-size: 2rem;
  }

  .feature-sub-title {
    font-size: 1.2rem;
    color: var(--Dark-Grayish-Violet);
  } */

  /* ---- About Section ---- */
  /* .about-container {
    background: var(--Dark-Violet);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30% 5%;
  }

  .text-container {
    padding: 10% 15%;
    margin: 0 -50% 0 auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }

  .about-heading {
    color: var(--Very-Light-Gray);
    font-size: 2.2rem;
  } */

  /* ---- Footer Section ---- */
  /* footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--Very-Light-Gray-2);
  }

  .pattern-bg-footer {
    background-image: url(images/bg-pattern-footer-mobile.svg);
  }

  .socials {
    margin: -27% auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5%;
  }

  .social-icons {
    margin-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 30px;
  }

  .about-social-container {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .about-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  h4 {
    color: var(--Dark-Grayish-Violet);
    text-transform: uppercase;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .links a {
    text-decoration: none;
    color: var(--Very-Dark-Violet);
  } */
}

/* Attribution Footer */
.attribution {
  font-size: 13px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
