/* ---- General styling ---- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ---- ## Colors ---- */
    /* ---- ### Primary ---- */
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    /* ### Neutral */
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Gray-2: hsl(273, 0%, 99%);
}

img {
    width: 100%;
    height: 100%;
}

body {
    font-family: "DM Serif Display", serif;
    background: var(--Very-Light-Gray);
}

@media (max-width: 640px) {
    /* ---- Header ---- */
    nav {
        display: flex;
        padding: 1.5rem 1.3rem;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        flex: 0.5;
    }

    .hamburger-menu {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    /* ---- Hero Section ---- */
    .hero {
        display: flex;
        flex-direction: column;
        background: var(--Dark-Violet);
    }

    /*.hero-img{}*/
    .hero-text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 5rem;
    }

    .pattern-left {
        width: 40%;
        height: auto;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 0 5%;
        margin: -21% 0 auto;
    }

    .main-txt {
        font-size: 3.1rem;
        color: var(--Very-Light-Gray);
    }

    .sub-txt {
        color: var(--Very-Light-Gray);
        line-height: 1.5;
        padding: 0 1rem;
        font-size: 19px;
    }

    .btn {
        padding: 15px 20px;
        color: var(--Very-Light-Gray);
        letter-spacing: 2px;
        background: none;
        border: 1px solid var(--Very-Light-Gray);
        text-transform: uppercase;
    }

    .pattern-right {
        position: absolute;
        width: 30%;
        height: auto;
        margin: 180% 70% auto;
        z-index: 2;
    }

    /* ---- Feature Section ---- */
    .features {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-direction: column;
        margin: 30% auto;
        padding: 5%;
    }

    .feature-heading-title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .feature-content {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 20px;
        flex-direction: column;
    }

    .feature-img {
        width: 28%;
        height: auto;
    }

    .feature-title {
        font-size: 2rem;
    }

    .feature-sub-title {
        font-size: 1.2rem;
        color: var(--Dark-Grayish-Violet);
    }

    /* ---- About Section ---- */
    .about-container {
        background: var(--Dark-Violet);
        display: flex;
        /*flex-direction: column-reverse;*/
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 30% 5%;
    }

    .text-container {
        padding: 10% 15% 0;
        margin: 0 -50% 0 auto;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .about-heading {
        color: var(--Very-Light-Gray);
        font-size: 2.5rem;
    }

    /* ---- Footer Section ---- */
    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: var(--Very-Light-Gray-2);
    }

    .socials {
        margin: -27% auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 5%;
    }

    .social-icons {
        margin-bottom: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        width: 30px;
    }
}

/* Attribution Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}
